  <div class="container">
    <div class="row">
      <ul class="footer">
        <li>
          <a class="logo" href="http://fieldphone.com" target="_blank">
            Fieldphone LLC
          </a>
        </li>
        <li>
          <a href="mailto:info@fieldphone.com">Contact</a>
        </li>
        <li>
          <a href="https://fieldphone.com/privacy.html" target="_blank">Privacy Policy</a>
        </li>
        <li>
          <a href="https://fieldphone.com/terms.html" target="_blank">Terms</a>
        </li>
        <li>
          © 2015 FIELDPHONE LLC. All rights reserved.
        </li>
      </ul>
    </div>
  </div>
  
  </body>
</html>