<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Fieldphone Status</title>
    <meta name="description" content="Status page of fieldphone.com services.">
    
    <link rel="stylesheet" type="text/css" href="/assets/css/application.css">
  </head>
  
  <body>

    <header id="custom-header">
      <div class="logo-container">
        <a href="https://fieldphone.com" target="_blank" class="logo">
          Fieldphone LLC
        </a>
      </div>
      <nav>
        <a href="https://fieldphone.com" target="_blank">Home</a>
        <a href="mailto:info@fieldphone.com">Contact</a>
      </nav>
      <div class="clearfix"></div>
    </header>